
body {
    margin: 0;
    padding: 0;
    background-color: #f3f3f3;
}

.block {
    width: 200px;
    height: 75px;
    border-radius: 10px;
    margin: 20px;
}

.block1 {
    background: #ff5733;
    transform: skewY(30deg);
}

.block2 {
    background: #3393ff;
    transform: rotate(45deg);
}

.block3 {
    background: #33ff42;
    transform: scaleX(1.5);
}

.block4 {
    background: #33fffc;
    transition: all 2s;
}

.block4:hover {
    transform: scale(2);
}

.block5 {
    background: #ff33f6;
    transition: all 300ms;
}

.block5:hover {
   transform: translateX(40px);
}

.block6 {
    background: #30b851;
    transition: all 3s;
    transition-delay: 200ms;
}

.block6:hover {
    transform: rotate(-90deg);
}

.block7 {
    background: #303cb8;
    transition: all 3s ease-in-out;
}

.block7:hover {
    transform: translateX(100px);
}

.block8 {
    background: #ec467b;
    transition: all 5s ease-out;
}

.block8:hover {
    transform: rotate(-1090deg);
}

.block9 {
    background: #e2ec46;
    transition: all 2s;
    transform-origin: left top;
}

.block9:hover {
    transform: rotate(-500deg);
}

.block10 {
    background: #ff1737;
    transition: all 5s;
    transform-origin: right bottom;
    transition-delay: 300ms;
}

.block10:hover {
    transform: rotate(460deg);
}